@namespace TablerCookieConsent.Settings
@using BytexDigital.Blazor.Components.CookieConsent.Dialogs.Settings
@using BytexDigital.Blazor.Components.CookieConsent.Internal
@using System.Globalization
@using Microsoft.Extensions.Options
@inherits CookieConsentSettingsModalComponentBase

<div class="modal settings-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title">
                    @Localizer.GetLocalization(Options.Value.SettingsTitleText, CultureCode, DefaultCultureCode)
                </h1>

                <button aria-lable="Close" @onclick="async () => await OnClosePreferences.InvokeAsync(false)" class="btn-close"></button>
            </div>

            <div class="modal-body">
                <p class="mb-2">
                    @Localizer.GetLocalization(Options.Value.SettingsDescriptionText,CultureCode, DefaultCultureCode)
                </p>

                <div class="mb-3">
                    <a class="" href="@Options.Value.PolicyUrl" target="_blank">
                        @Localizer.GetLocalization(Options.Value.ShowPolicyText,CultureCode,DefaultCultureCode)
                        </a>
                </div>

                <div class="mb-2 accordion">
                    @foreach (var category in Options.Value.Categories)
                    {
                        <TablerCookieConsentSettingsCategory @key="category.Identifier" Category="category" Selected="AcceptedCategories.Contains(category.Identifier)" SelectedChanged="val => SelectedChanged(category, val)"/>
                    }
                </div>
            </div>

            <div class="modal-footer ">
                
                        
                <button @onclick="AllowSelectedAsync" class="btn btn-primary col-12 col-lg-auto">
                    @Localizer.GetLocalization(Options.Value.SettingsContinueWithSelectedPreferencesText, CultureCode, DefaultCultureCode)
                </button>
                        
                <button @onclick="AllowAllAsync" class="btn btn-secondary col-12 col-lg-auto">
                    @Localizer.GetLocalization(Options.Value.ConsentAcceptAllText,CultureCode, DefaultCultureCode)
                </button>
                        
            </div>
        </div>
    </div>
</div>

